*{
    margin: 0px;
    padding: 0px;
}
h1{
    margin-left: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    
}
td{
    padding: 25px;
}
div#contenedor{
    background-color: rgb(138, 79, 79);
    color: white;
    display: flex;
    padding: 20px;          
}
input#color{
    background-color: burlywood;
    padding: 7px;
    color:black;
}
h4{
    margin-left: 70px;
    color: brown;
}