

form{ 
    width: 960px;
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div#titulo {
    background-color: rgb(95, 182, 197);
    padding: 5px;
    color: white;
    padding-left: 70px;

}

body{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}




















