.logo {
    width: 225px;
    height: 60px;
    float: left;
    padding-left: 30px;
    padding-top: 10px;
}

.contacto {
    float: right;
    padding-right: 30px;
    font-size: 20px;
    font-style: oblique;
}

.banner {
    width: 90%;
    height: 600px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 10px;
    
}

.iconos {
    display: flex;
    width: 100%;
    float: left;
    justify-content: space-evenly;
    align-items: center;
    
    
}

.icon {
    width: 60px;
    height: 60px;
    margin-top: 5px;
    margin-bottom: 5px;

    
}

.bienvenidos {
    color: rgb(4, 49, 49);
    font-size: 45px;
    font-family: monospace;
    padding-left: 100px;
    background-color: rgba(95, 158, 160, 0.493);
    
}

.padre {
    display: inline-flex;
    width: 85%;
    padding-left: 130px;
    
}

.hijo {
    display: block;
    padding: 10px;
    margin: auto;
    
}

.imagen-med{
    width: 400px 500px;
    border: 8px solid #333;

}
.division {
    width: 100%;
    display: inline-flex;
    float: left;
    justify-content: space-evenly;
}
body{
    
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*ESTILOS GENERALES*/



nav ul{
    list-style: none;
    padding: 0;
    width: 100%;
    
}

nav li {
    line-height: 3rem;
    position: relative; 
}

nav li ul {
    position: absolute;
}

nav a {
    text-decoration: none;
    color :white;
    display: block;
    padding: 0 5em;
    transition: 0.4s;
}

nav a:hover {
    background: rgb(7, 153, 153);;
}


nav ul ul ul {
    display: none;
}


/*PRIMER NIVEL*/

nav > ul {
    background: #333;
    display: table;
}

nav > ul > li {
    float: right;   
}

/*SEGUNDO NIVEL*/

nav li li {
    background: #222;
    max-height: 0;
    overflow: hidden;
}

nav li:hover li{
    max-height: 500px;
    overflow: visible;
}
/*SI EN CASO SE AGREGA MAS SUB-SUBITEMS SE HACE UN CAMBIO /hover >ul >li*/ 

table {
    width: 350px;
    height: 300px;
    border: 1px solid black;
    
}