img {
    width: 200px;
    height: 100px;
    
}
nav {
    text-align: center;
    width: 100%;
    
}

nav li {
    background-color: black;
    color: rgb(216, 23, 23);
    padding: 20px;
}
#button {
    padding: 0;
}

#button li {
    display: inline;
    
}